// Footer

.footer {
  color: #fbfbfb;
  background-color: #181818;

}

.nav-footer {
  .nav-link {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #fbfbfb;
    padding: 0.2rem 1rem;
    &:hover {
      color: #f2f2f2;
    }
  }
}
