.color-palette {
    display: flex;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mr-2 {
    margin-right: 8px;
  }
  .custom-modal {
    max-height: 80vh; /* Adjust the height as needed */
    overflow-y: auto; /* Ensure that content can scroll if needed */
  }