/* src/components/CommunityChat/GDGRightside.css */

.gdg-rightside {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .gdg-rightside .card {
    margin-bottom: 1rem;
  }
  
  @media (max-width: 992px) {
    .gdg-rightside {
      height: auto;
    }
  }
  