.post-card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-images {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .post-interactions {
    font-size: 0.9em;
    color: #555;
  }
  
  .interaction-icons .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  
  .interaction-details {
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  .interaction-buttons .interaction-button {
    font-size: 0.875rem;
    color: #6c757d;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .interaction-buttons .interaction-button i {
    margin-right: 5px;
  }
  
  .interaction-buttons .interaction-button:hover {
    color: #007bff;
  }
  /* .nav-link {
    color: black;
  }
  
  .nav-link.active {
    background-color: blue;
    color: black;
  } */
  
  /* .nav-link.rounded-pill {
    border-radius: 60px; 
    padding: 8px 16px; 
    transition: border-color 0.3s ease;
  } */
  
  /* .nav-link.rounded-pill:hover {
    border-color: #000030;
  } */
  .nav-link {
    color: black;
}

.nav-link.active {
    background-color: #005f48; 
    color: white; 
}

.nav-link.rounded-pill {
    border-radius: 30px; 
    padding: 8px 16px; 
    border: 1px solid #ccc; 
    transition: all 0.3s ease;
}

.nav-link.rounded-pill:hover {
    border: 2px solid #000030; 
}
