/* .navbar {
    background-color: #333;
    padding: 10px;
  } */
  
  .navbar-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    display: inline-block;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    left: 0;
    top: 100%;
    z-index: 1;
  }
  
  .dropdown-content p {
    color: #fff;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #666;
  }
  
  .dropdown-content p:last-child {
    border-bottom: none;
  }
  

/* Hide the submenu by default
.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  /* Style for the dropdown menu
.dropdown-menu {
    display: none; /* Hide the dropdown menu by default */
    /* position: absolute;
    background-color: #fff;
    min-width: 10rem;
    padding: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
   */
  /* Show the dropdown menu when its parent is hovered */
  /* .nav-item:hover .dropdown-menu {
    display: block;
  } */
